.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.result-div {
  width: 300px;
}

.search-result {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  padding: 3vh;
  border: solid;
  margin-top: 1%;
}

.search-block{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.res-search-block{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.res-search-block-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #020d33
}

.img-profile-div{
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  
}

.detail-div{
  flex: 1;
  flex-direction: row;
  text-align: center;
}

.detail-des-div{
  flex: 3;
  flex-direction: row;
  text-align: justify;
  font-family: 'Courier New', Courier, monospace
}

.img-profile{
  border-radius: 50%;
  border: solid;
  border-color: #000000;
  height: 25vh;
  width: 25vh;
  align-items: flex-end;
}

.big-img-profile{
  border-radius: 50%;
  border: solid;
  border-color: #000000;
  height: 35vh;
  width: 35vh;
  align-items: flex-end;
}

.big-img-profile:hover{
  cursor: pointer;
}

.header-input-align{
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.header-header-align{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

.header-btn-align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.App-header {
  background-color: azure;
  display: flex;
  flex-direction: column;
  font-size: calc(3px + 2vmin);
  color: white;
  position: relative;
  top: 0; 
  left: 0; 
  width: 100%;
  border: solid;
  border-width: 1px;
  border-color: #dfdfdf
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
